.TodoTask {
  padding: 10px;
  border: 1px solid #555;
  position: relative;
  margin-bottom: 10px;
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.TodoTask-deleteBtn {
  display: inline-block;
  position: absolute;
  height: 30px;
  width: 30px;
  font-size: 0;
  background: url(./ic-delete.svg) 50% 50% no-repeat;
  background-size: 80% auto;
  border: none;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.TodoTask-deleteBtn:hover {
  opacity: 0.7;
}

.TodoTask-deleteBtn:active {
  background-size: 75% auto;
  opacity: 1;
}