.NotesAdd {
  padding-bottom: 15px;
}

.NotesAdd textarea {
  display: block;
  resize: none;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
}

.NotesAdd button {
  padding: 5px 10px;
}

.NotesAdd textarea, .NotesAdd button {
  font-size: 15px;
}